body {
 color: blue;
background-color: peach; 
 background-image: url(".jpg");
   background-repeat: no-repeat;
  background-size: 1500px 1080px;
}
a {
	
}
button {
	background-color: navy;

}
